.env
node_modules/

student-profile-data/*
!student-profile-data/README.md
!student-profile-data/student-data.json

test-screenshots/*
!test-screenshots/README.md

crawled-certificates/*
!crawled-certificates/README.md

crawled-avatars/*
!crawled-avatars/README.md

logs/*
!logs/README.md
